.headerContainer {
  /* background-color: rgb(46, 46, 46);
  color: white;
  font-size: large;
  text-align: center;
  padding: 12px;
  margin-bottom: 16px; */
}

.headerLink {
  /* color: white;
  text-decoration: none;
  margin: 8px; */
}

.headerLink:hover {
  /* color: rgb(255, 187, 0); */
}

.stickyHeader {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}
